* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  color: #FCFCFC;
  font-size: 2rem;
  font-weight: 400;
}

h3 {
  color: #031D3A;
  font-size: 1.875rem;
  font-weight: 400;
  text-align: center;
  margin-bottom: 25px;
}

h4 {
  color: #FCFCFC;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
  margin: 15px 0;
}

p {
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 440px) {
  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 2.25rem;
  }

  h4 {
    font-size: 18px;
  }
}
@media screen and (min-width: 768px) {
  h4 {
    margin: 20px 0;
    font-size: 20px;
  }
}
button {
  background-color: transparent;
  font-size: 20px;
  padding: 5px;
}

html {
  scroll-behavior: smooth;
}

.introduction .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
.introduction .nav .nav__logo {
  fill: #FCFCFC;
  width: 75px;
  margin-left: 30px;
}
.introduction .nav .nav__menu {
  position: fixed;
  transform: translateY(-100%);
  transition: 0.4s;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 99;
  background: #D2E0E3;
  padding-top: 8rem;
  text-align: center;
}
.introduction .nav .nav__menu li {
  margin-bottom: 30px;
  list-style-type: none;
}
.introduction .nav .nav__menu .nav__menu--item {
  text-decoration: none;
}
.introduction .nav .hamburger__btn {
  margin-right: 30px;
  border: none;
  z-index: 100;
}
.introduction .nav .hamburger__btn .hamburger__btn--menu {
  color: #FCFCFC;
  z-index: 100;
  display: inline-block;
}
.introduction .nav .hamburger__btn .hamburger__btn--cancel {
  display: none;
}
.introduction .nav .showMenu {
  transform: translateY(0%);
}

@media screen and (min-width: 768px) {
  .introduction .nav .nav__menu {
    position: relative;
    display: flex;
    background: none;
    transform: translateY(0);
    padding-top: 3rem;
    justify-content: flex-end;
  }
  .introduction .nav .nav__menu li {
    margin-right: 30px;
  }
  .introduction .nav .nav__menu--item {
    color: #FCFCFC;
  }
  .introduction .hamburger__btn {
    display: none;
  }
}
body {
  background-color: #FCFCFC;
  font-family: "Roboto", sans-serif, "PT Sans Narrow";
}

.introduction {
  background-image: linear-gradient(rgba(3, 29, 58, 0.95), rgba(3, 29, 58, 0.95)), url("./data/images/myself.jpg");
  background-size: 145% 100%;
  background-position: 45% 30%;
}
.introduction .intro .intro-text {
  display: flex;
  flex-direction: column;
  height: 60vh;
  line-height: 1.5;
  text-align: center;
  align-content: stretch;
  justify-content: center;
}
.introduction .intro a .iconify {
  color: #FCFCFC;
  font-size: 50px;
}

.projects {
  margin-top: 30px;
}
.projects .project-boxes {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 25px;
}
.projects .project-boxes .project-box {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 235px;
  background-color: #D2E0E3;
  box-shadow: 5px 5px 5px #a7a6a6;
}
.projects .project-boxes .project-box > div {
  height: 190px;
  padding: 10px;
}
.projects .project-boxes .project-box > div > a {
  padding: 2px;
}
.projects .project-boxes .project-box > div > a > img {
  width: 175px;
  height: 175px;
}
.projects .project-boxes .project-box > p {
  font-size: 0.875rem;
  text-align: center;
}

.about {
  margin-top: 30px;
}
.about #about-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about .about-text {
  margin: 0 30px;
}
.about .about-text p {
  line-height: 120%;
  font-size: 14px;
  text-align: center;
}
.about #my-img {
  margin-top: 35px;
}
.about #my-img > img {
  width: 200px;
  height: 170px;
  box-shadow: 10px -10px #D2E0E3;
  margin-top: auto;
}

.skills {
  margin-top: 30px;
}
.skills .skill-box {
  display: grid;
  grid-template-columns: 50px 50px;
  gap: 35px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  text-align: center;
}
.skills .skill-box > i {
  font-size: 32px;
}
.skills .skill-box > i > p {
  font-size: 10px;
  margin-top: 5px;
}

footer {
  display: block;
  margin-top: 40px;
  background-color: #031D3A;
  height: 120px;
}
footer .contact-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contact-box #contact-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 25px;
}
footer .contact-box #contact-box a i {
  font-size: 24px;
  color: #FCFCFC;
  margin-bottom: 10px;
}
footer p {
  color: #FCFCFC;
  font-size: 11px;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 440px) {
  .projects {
    margin-top: 50px;
  }
  .projects .project-boxes {
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .projects .project-boxes .project-box {
    width: 300px;
    height: 352px;
  }
  .projects .project-boxes .project-box > div {
    height: 285px;
    padding: 10px;
  }
  .projects .project-boxes .project-box > div > a {
    padding: 2px;
  }
  .projects .project-boxes .project-box > div > a > img {
    width: 275px;
    height: 270px;
  }
  .projects .project-boxes .project-box > p {
    font-size: 1.125rem;
  }

  .about #about-box {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .about .about-text p {
    font-size: 18px;
  }
  .about #my-img {
    margin-right: 35px;
  }
  .about #my-img > img {
    width: 250px;
    height: 200px;
    box-shadow: 15px -15px #D2E0E3;
    margin-top: auto;
  }

  .skills .skill-box {
    gap: 60px;
  }
  .skills .skill-box > i {
    font-size: 45px;
  }
  .skills .skill-box > i p {
    font-size: 14px;
  }

  .contact-box #contact-box i {
    font-size: 40px;
  }

  footer {
    height: 125px;
    margin-top: 40px;
  }
  footer p {
    font-size: 13px;
  }
}
@media screen and (min-width: 768px) {
  .intro {
    margin-top: 20px;
  }

  .projects {
    margin-top: 50px;
  }
  .projects .project-boxes {
    flex-direction: row;
    justify-content: space-evenly;
  }
  .projects .project-boxes .project-box {
    width: 400px;
    height: 470px;
  }
  .projects .project-boxes .project-box > div {
    height: 380px;
    padding: 26px;
  }
  .projects .project-boxes .project-box > div > a {
    padding: 2px;
  }
  .projects .project-boxes .project-box > div > a > img {
    width: 345px;
    height: 340px;
  }
  .projects .project-boxes .project-box > p {
    font-size: 1.375rem;
  }

  .about {
    margin-top: 50px;
  }
  .about #about-box {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0 25px;
  }
  .about .about-text p {
    font-size: 20px;
  }
  .about #my-img {
    margin-right: 35px;
  }
  .about #my-img > img {
    width: 350px;
    height: 300px;
    box-shadow: 20px -20px #D2E0E3;
    margin-top: auto;
  }

  .skills .skill-box {
    gap: 65px;
  }
  .skills .skill-box > i {
    font-size: 50px;
  }

  footer {
    height: 170px;
  }
  footer .contact-box #contact-box a i {
    font-size: 30px;
  }
  footer p {
    font-size: 18px;
    margin-top: 25px;
  }
}
@media screen and (min-width: 1024px) {
  .intro .intro-text {
    margin-left: 50px;
  }

  .about #about-box .about-text {
    margin: 0 40px;
  }
  .about #about-box .about-text p {
    font-size: 20px;
  }
  .about #about-box #my-img {
    margin-right: 35px;
  }
  .about #about-box #my-img > img {
    width: 390px;
    height: 320px;
    box-shadow: 24px -24px #D2E0E3;
    margin-top: auto;
  }

  .skills .skill-box {
    display: flex;
    gap: 65px;
  }
  .skills .skill-box > i {
    font-size: 60px;
  }
  .skills .skill-box > i p {
    font-size: 16px;
  }

  footer {
    height: 190px;
  }
  footer .contact-box #contact-box a i {
    font-size: 45px;
  }
  footer p {
    font-size: 20px;
    margin-top: 25px;
  }
}