@import "_variables.scss";
@import "_button.scss";

html{
  scroll-behavior: smooth;
}

.introduction{
  .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    
    .nav__logo{
      fill: $background-color;
      width: 75px;
      margin-left: 30px;
    }
    .nav__menu {
      position: fixed;
      transform: translateY(-100%);
      transition: 0.4s;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 99;
      background: $secondary-color;
      padding-top: 8rem;
      text-align: center;

      & li{
        margin-bottom: 30px;
        list-style-type: none;
      }

    .nav__menu--item,
    .nav__menu--item:visited{
      color: $primary-color;
      text-decoration: none;

      }
    }

    .hamburger__btn{
      margin-right: 30px;
      border: none;
      z-index: 100;
      .hamburger__btn--menu{
        color: $background-color;
        z-index: 100;
        display: inline-block;
      }
      .hamburger__btn--cancel{
        color: $primary-color;
        display: none;
      }
    }
    .showMenu {
      transform: translateY(0%);
    }

  } 
}




@media screen and(min-width:768px){
  .introduction{
  .nav{
    .nav__menu{
      position: relative;
      display: flex;
      background: none;
      transform: translateY(0);
      padding-top: 3rem;
      justify-content: flex-end;
      & li {
        margin-right: 30px;
      }
      > .nav__menu--item,
      .nav__menu--item:visited{
        color: $background-color;
      }
    }
    }
    .hamburger__btn{
      display: none;
    }

  }

}

@media screen and(min-width:1024px){
  .introduction{
    .nav{
      height: 115px;
      .nav__logo{
        width: 95px;
        margin-top: 20px;
      }
      .nav__menu{
         .nav__menu--item{
          font-size: 1.25rem;
        }
        > li{
          margin-bottom: 0;
        }
      }
    }
  }
}



