@import "_variables.scss";

html{
  scroll-behavior: smooth;
}
 
 
.nav__mobile{
  display: flex;
  background-color: $background-color;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  margin: 0 40px;

}

.nav__logo > img{
  margin-top: 10px;
  height: 60px;
  width: 60px;
}

#hamburger-menu{
  display: none;
  list-style-type: none;
  font-size: 22px;
  text-align: center;
  background-color: $primary-color;
  z-index: 99;
  padding-top: 5rem;
  //transition: all 1s ease-out;

  .menuItem{
    color: $background-color;
    text-decoration: none;
    margin: 50px 80px;
  }
}

.menu-btn{
  border: none;
  background-color: $background-color;
  z-index: 100;

  i{
    font-size: 24px;
    //transition:transform 0.3s ease-in; 
  }
}

.cancel-btn{
  display: none;
  border: none;
  background-color: $background-color;
  z-index: 100;

  i{
    font-size: 24px;
    //transition:transform 0.3s ease-in; 
  }
}



 .nav__desktop{
  display: none;
  background-color: $background-color;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  margin: 0 50px;


  
  > ul > li{
    list-style-type: none;
    display: inline-block;
    margin-right: 35px;
    margin-top: 30px;
    font-size: 18px;
  }

   ul > li > a:link,
   ul > li > a:visited{
    text-decoration: none;
    transition:transform 0.3s ease-in; 
  }

  ul > li > a:hover{
    text-decoration: underline;
    color: $secondary-color;
    transition: 0.5s;
  }

}


 
 
//  @media only screen and (min-width:768px){  
//  .nav__mobile{
//    display: none;
//  }  

//   .nav__desktop{
//      display: flex;
//   }
//  }

// .nav__mobile{
//   display: flex;
//   background-color: $background-color;
//   justify-content: space-between;
//   align-items: center;
//   height: 100px;
//   margin: 0 40px;

// }

// .nav__logo > img{
//   margin-top: 10px;
//   height: 60px;
//   width: 60px;
// }

// .menu-btn{
//   //border: none;
//   background-color: $background-color;

//   i{
//     font-size: 20px;
//     transition:transform 0.3s ease-in; 
//   }
// }












// .nav__desktop{
//   display: none;
//   background-color: $background-color;
//   justify-content: space-between;
//   align-items: center;
//   height: 120px;
//   margin: 0 50px;


  
//   > ul > li{
//     list-style-type: none;
//     display: inline-block;
//     margin-right: 35px;
//     margin-top: 30px;
//   }

//    ul > li > a:link,
//    ul > li > a:visited{
//     text-decoration: none;
//     transition:transform 0.3s ease-in; 
//   }

//   ul > li > a:hover{
//     text-decoration: underline;
//     color: $secondary-color;
//     transition: 0.5s;
//   }

// }


@media screen and(min-width:440px){
  .nav__logo > img{
    margin-top: 40px;
    height: 90px;
    width: 90px;

    .nav__mobile{
      display: block;
    }

}
}

@media screen and(min-width:768px){
  .nav__mobile{
    display: none;
  }
  .nav__desktop{
    display: flex;
  }
  
  .nav__logo > img{
    margin-top: 20px;
    height: 110px;
    width: 110px;


}
}
  




